### Installing Packages

In [ ]:
pip install selenium

In [ ]:
pip install kora -q

In [ ]:
pip install webdriver-manager

### Importing Libraries

In [1]:
from selenium import webdriver

In [2]:
from webdriver_manager.chrome import ChromeDriverManager
browser = webdriver.Chrome(ChromeDriverManager().install())

C:\Users\joyb0\AppData\Local\Temp/ipykernel_4856/4089053854.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

In [3]:
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
import time

In [4]:
url = "https://www.imdb.com/title/tt4154756/reviews/?ref_=tt_ql_urv"

In [5]:
browser.get(url)

In [6]:
for _ in range(19):
  browser.find_element(By.XPATH, "//button[@class= 'ipl-load-more__button']").click()
  time.sleep(4)

In [7]:
xx = browser.find_elements(By.XPATH, "//div[@class = 'expander-icon-wrapper show-more__control']")
len(xx)

364

In [8]:
yy = browser.find_elements(By.XPATH, "//div[@class = 'expander-icon-wrapper spoiler-warning__control']")
len(yy)

136

In [9]:
def click(p):
  try: 
    p.click()
  except:
    pass

In [10]:
d_x = [click(x) for x in xx]
d_y = [click(y) for y in yy]

In [11]:
containers = [x.get_attribute('innerHTML') for x in browser.find_elements(By.XPATH, "//div[@class='review-container']")]

In [12]:
len(containers)

500

In [13]:
from bs4 import BeautifulSoup

In [14]:
import re

In [15]:
reviews = []
ratings = []
for container in containers:
  bsObj = BeautifulSoup(container)
  rev = bsObj.find('div', attrs = {'class' : 'text show-more__control'}).text
  reviews.append(rev)
  try:
    r = bsObj.find('span', attrs = {'class': 'rating-other-user-rating'}).text
    r = re.sub("\\n", '', r)
    r = re.sub("/10",'', r)
    ratings.append(float(r))
  except:
      ratings.append(np.nan)

In [16]:
len(ratings)

500

In [17]:
df = pd.DataFrame(columns = ['Reviews', 'Ratings'])
df['Reviews'] = reviews
df['Ratings'] = ratings
df.head(10)

                                             Reviews  Ratings
0  Infinity War is remembered mostly for how it e...     10.0
1  This movie portrays a villain that by far has ...      9.0
2  A meticulously planned film down to the last d...     10.0
3  Avengers: Infinity War is a film that should b...      NaN
4  Avengers infinity war is an emotional roller c...      9.0
5  Infinity war is one of the best MCU protects. ...     10.0
6  It was only after the release of Infinity War ...     10.0
7  Infinity war seemed much better than endgame t...     10.0
8  #MCUrewatch. A confrontation that has been in ...      8.0
9  Although this film has 'Avengers' in the title...      8.0

In [18]:
df['Movie Name'] = 'Avengers: Infinity War'

In [19]:
df

,Reviews,Ratings,Movie Name
0,Infinity War is remembered mostly for how it e...,10.0,Avengers: Infinity War
1,This movie portrays a villain that by far has ...,9.0,Avengers: Infinity War
2,A meticulously planned film down to the last d...,10.0,Avengers: Infinity War
3,Avengers: Infinity War is a film that should b...,NaN,Avengers: Infinity War
4,Avengers infinity war is an emotional roller c...,9.0,Avengers: Infinity War
...,...,...,...
495,"Arguably, the best MCU movie ever made, and ye...",9.0,Avengers: Infinity War
496,I don't know why there are so many positive re...,1.0,Avengers: Infinity War
497,There are two types of stories where the hero ...,4.0,Avengers: Infinity War
498,"The thing about conflict is it goes both ways,...",10.0,Avengers: Infinity War
499,10/10 and this is why..! I've watched this fil...,10.0,Avengers: Infinity War

In [23]:
#write dataframe to file
df.to_csv("imdb_reviews.csv")  
#read it back
pd.read_csv("imdb_reviews.csv").head()

,Unnamed: 0,Reviews,Ratings,Movie Name
0,0,Infinity War is remembered mostly for how it e...,10.0,Avengers: Infinity War
1,1,This movie portrays a villain that by far has ...,9.0,Avengers: Infinity War
2,2,A meticulously planned film down to the last d...,10.0,Avengers: Infinity War
3,3,Avengers: Infinity War is a film that should b...,NaN,Avengers: Infinity War
4,4,Avengers infinity war is an emotional roller c...,9.0,Avengers: Infinity War